@mixin mediaSm {
  @media screen and (min-width:576px) {
   @content; 
  }
}

@mixin mediaMd {
  @media screen and (min-width:768px) {
   @content; 
  }
}

@mixin mediaLg {
  @media screen and (min-width: 992px) {
   @content; 
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1120px) {
   @content; 
  }
}

@mixin boxShadow {
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.06);
}

@mixin bg-default {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin list-item-hover($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
}