$red: #f10e34;
$blue: #303a7a;
$light-blue: #0f8ce9;
$light-white: #b6b6b6;
$white: #fff;
$black: #000;
$smoke: #ddd;
$dark-primary: #3d3d3d;
$dark-secondary: #222222;
$dark-tertiary: #1f1e1e;
$yellow: #ffc808;
$body-background: #f3f3f3;
$btn-primary: #f22f49;
$bg-input: #f3f3f3;
$border-input: #ced4da;

//15px
$size-1: 0.5rem;//7.5px
$size-2: 0.75rem;//11.25px
$size-3: 1rem;//15px
$size-4: 1.25rem;//18.75px
$size-5: 1.5rem;//22.5px
$size-6: 2rem;//30px
$size-7: 2.25rem;//33.75px
$size-8: 2.5rem;//37.5

$padding_card-body: 23px;
$padding_card-products: 10px;